{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "no-unsafe-finally": 0,
    "no-func-assign": "warn"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}